body {
    background: url('./assets/bg2.jpg') fixed center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 100px) {
    .hide-mobile {
        display: none;
    }

    .adapt-mobile {
        padding: 4px;
    }

    .hide-medium {
        display: none;
    }

    body {
        font-size: 68%;
    }
}

@media (min-width: 768px) {

    .adapt-mobile {
        padding: initial;
    }

    .hide-mobile {
        display: initial;
    }

    body {
        font-size: initial;
    }
}

@media (min-width: 992px) {
    .hide-medium {
        display: initial;
    }
}





@keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes animatedBackground-reverse {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes spinMe {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.title-opacity {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(29, 30, 36));
}

.bg-opacity {
    background-color: rgba(0, 0, 0, 0.397);
}

.bg-dark-2 {
    background-color: rgb(25, 26, 43);
}

.bg-dark-3 {
    background-color: rgb(29, 30, 36);
}

.bg-dark-4 {
    background-color: #220246;
}

.bg-orange {
    background-color: #ff8800;
}

.bg-orange-dark {
    background-color: #8f4c00;
}

.text-dark-2 {
    color: rgb(25, 26, 43);
}

.text-dark-3 {
    color: rgb(29, 30, 36);
}

.text-dark-4 {
    color: #220246;
}

.text-orange {
    color: #ff8800;
}

.text-orange-dark {
    color: #8f4c00;
}

.mc-animate-area {
    background-position-y: 65% !important;
    background: url('./assets/mcbg.png') repeat-x bottom;
    animation: animatedBackground 80s ease-in-out infinite;
}

.tf2-animate-area {
    background-position-y: 40% !important;
    background: url('./assets/tf2bg.jpg') repeat-x top;
    animation: animatedBackground-reverse 80s ease-in-out infinite;
}

.pyp-animate-area {
    background-position-y: 50% !important;
    background: url('./assets/pypbg.png') repeat-x top;
    animation: animatedBackground 40s ease infinite;
}

.spin {
    animation: spinMe 30s linear infinite;
}

.spin-mega-fast {
    animation: spinMe 0.05s linear infinite;
}

.spin:hover {
    animation-play-state: paused;
}

.spin-mega-fast:hover {
    animation-play-state: paused;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #343a40;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(29, 30, 36);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}

@font-face {
    font-family: "SF Compact Display";
    src: url("//db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.eot");
    src: url("//db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.eot?#iefix")
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.woff2")
    format("woff2"), url("//db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.woff")
    format("woff"), url("//db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.ttf")
    format("truetype"), url("//db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.svg#SF Compact Display")
    format("svg");
}

.font-family-sfc {
    font-family: "SF Compact Display";
    font-size: 4rem;
}