body {
    background: url('./assets/bg2.jpg') fixed center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-opacity {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(29, 30, 36));
}


@keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes animatedBackground-reverse {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes spinMe {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bg-opacity {
    background-color: rgba(0, 0, 0, 0.397);
}

.bg-dark-2 {
    background-color: rgb(25, 26, 43);
}

.bg-dark-3 {
    background-color: rgb(29, 30, 36);
}

.mc-animate-area {
    background-position-y: 65% !important;
    background: url('./assets/mcbg.png') repeat-x bottom;
    animation: animatedBackground 80s ease infinite;
}

.tf2-animate-area {
    background-position-y: 40% !important;
    background: url('./assets/tf2bg.jpg') repeat-x top;
    animation: animatedBackground-reverse 80s ease infinite;
}

.pyp-animate-area {
    background-position-y: 50% !important;
    background: url('./assets/pypbg.png') repeat-x top;
    animation: animatedBackground 40s ease infinite;
}

.spin {
    animation: spinMe 30s linear infinite;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #343a40;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(29, 30, 36);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}



@media (min-width: 100px) {
    .hide-mobile {
        display: none;
    }

    body {
        font-size: 75%;
    }
}

@media (min-width: 768px) {
    .hide-mobile {
        display: initial;
    }

    body {
        font-size: initial;
    }
}